body{

font-family:Arial;
background:#0f172a;
color:white;
padding:15px;

}

h1{

text-align:center;

}

#map{

height:400px;
margin-bottom:20px;

}

#globe{

height:300px;

}

section{

background:#1e293b;
padding:15px;
margin:10px 0;
border-radius:10px;

}

ul{

list-style:none;
padding:0;

}

li{

padding:5px 0;

}

@media(max-width:600px){

#map{

height:300px;

}

}
